[build]
  publish = "public"
  functions = "functions"

[build.environment]
  NODE_VERSION = "20.11.0"
  NPM_VERSION = "10.2.4"
  HUGO_VERSION = "0.134.1"
  HUGO_ENABLEGITINFO = "true"
  NPM_FLAGS = "--prefer-offline --no-audit"

[context.production]
  command = "npm ci && npm run build"

[context.deploy-preview]
  command = "npm ci && npm run build -- -b $DEPLOY_PRIME_URL"

[context.branch-deploy]
  command = "npm ci && npm run build -- -b $DEPLOY_PRIME_URL"

[context.next]
  command = "npm run build"

[context.next.environment]
  HUGO_ENV = "next"

[dev]
  framework = "#custom"
  command = "npm run dev"
  targetPort = 1313
  port = 8888
  publish = "public"
  autoLaunch = false

# Redirects and rewrites — https://docs.netlify.com/routing/redirects/#syntax-for-the-netlify-configuration-file
[[redirects]]
  from = "/upgrades"
  to = "/docs/setup/upgrades/"
  status = 301

[[redirects]]
  from = "/installation"
  to = "/docs/setup/quick-start/"
  status = 301

# Custom headers — https://docs.netlify.com/routing/headers/#syntax-for-the-netlify-configuration-file
[[headers]]
  for = "/*"
  [headers.values]
    Strict-Transport-Security = "max-age=31536000; includeSubDomains; preload"
    X-Content-Type-Options = "nosniff"
    X-XSS-Protection = "1; mode=block"
    Content-Security-Policy = "default-src 'self'; manifest-src 'self'; connect-src 'self' https://api.github.com/repos/trimble-oss/ https://*.google-analytics.com/; font-src 'self' data:; img-src 'self' https://avatars.githubusercontent.com data:; script-src 'self' 'sha256-6xDWzS12u2Ta0Lh0pVhNk+h0x1TV8Vukf3dKtVoMsCY=' 'sha256-KueDtczCRPMh3SSKpY1syUzF7y3vwCuyxYRifow+Qq8=' https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/ https://www.googletagmanager.com/gtag/js https://buttons.github.io/buttons.js 'nonce-dXNlcj0iaGVsbG8iLGRvbWFpbj0iaGVua3ZlcmxpbmRlLmNvbSIsZG9jdW1lbnQud3JpdGUodXNlcisiQCIrZG9tYWluKTs=' 'sha256-aWZ3y/RxbBYKHXH0z8+8ljrHG1mSBvyzSfxSMjBSaXk='; style-src 'self' https://buttons.github.io/buttons.js 'sha256-qo7STIM1L/OgU9y0De47mqod1UZFLJfTn36bRC42rfA=' 'sha256-kFAIUwypIt04FgLyVU63Lcmp2AQimPh/TdYjy04Flxs=' 'sha256-2m+uPiNtvboYJ7hcptV7yA5rSTXALge6nT+HAcqYCXA='; frame-src 'self' https://www.youtube.com/ https://www.youtube-nocookie.com/"
    X-Frame-Options = "SAMEORIGIN"
    Referrer-Policy = "strict-origin"
    Permissions-Policy = "geolocation=(self), microphone=(), camera=()"
    Cache-Control= '''
    public,
    max-age=3600'''
    Access-Control-Allow-Origin = "*"
