// Put your custom SCSS variables here
$primary: #004f83;

$link-color-dark: #dcedf9;
$button-color-dark: #dcedf9;

$link-color:#019aeb;

$body-bg-dark: #171c1e;

$light-bg-subtle-dark: #252a2e;


$border-dark:#464b52; //bottom line

$body-color:#004f83;

$navbar-dark-color:#dcedf9;

:root,
::backdrop {
  --sl-color-accent-high: #fbad26;
}
